//

@tailwind base;

*::selection {
    @apply bg-pink-700 text-white;
}

input[type='text'],
input[type='date'],
input[type='number'],
textarea,
select {
    min-width: 10em;
    &::placeholder {
        @apply opacity-75;
    }
}

select {
    appearance: none;
}

@tailwind components;

.link {
    @apply text-pink-800;
    &:hover {
        @apply underline;
    }
}
.page-card {
    @apply bg-white text-gray-900 py-6 rounded-lg shadow;
}
.page-header {
    @apply px-6 text-2xl font-bold mb-6;
}

.form-label {
    @apply inline-block text-sm font-bold text-gray-700;
}

.form-input {
    @apply bg-gray-200 text-gray-700 px-3 py-2 border border-gray-200 rounded;
    &:hover, &:focus {
        @apply bg-white border-gray-400;
    }
    &:focus {
        @apply border-magenta-700 text-gray-900;
    }
    &.is-sm {
        @apply px-2 py-1;
    }
    &.is-xs {
        @apply px-2 py-1 text-sm;
    }
}

.disable-input {
    @apply px-3 py-2 border border-gray-400 rounded;
}

.btn {
    @apply inline-block px-3 py-2 bg-gray-100 text-black border border-gray-100 font-bold rounded;
    &:hover {
        @apply bg-gray-300 border-gray-300;
    }
    &.is-lg {
        @apply text-lg py-1;
    }
    &.is-xl {
        @apply text-lg py-2 px-4;
    }
    &.is-sm {
        @apply px-2 py-1;
    }
    &.is-xs {
        @apply px-2 py-1 text-sm;
    }

    &.btn-black {
        @apply bg-gray-900 text-white border-gray-900;
        &:hover {
            @apply bg-gray-700 border-gray-700;
        }
    }
    &.btn-blue {
        @apply bg-blue-500 text-white border-blue-500;
        &:hover {
            @apply bg-blue-700 border-blue-700;
        }
    }
    &.btn-magenta {
        @apply bg-magenta-700 text-white border-magenta-700;
        &:hover {
            @apply bg-magenta-800 border-magenta-800;
        }
    }
}


@tailwind utilities;

.top-100 {
    top: 100%;
}

.table-fit {
    width: 1%;
    @apply whitespace-no-wrap;
}

.absolute-y-center {
    top: 50%;
    transform: translateY(-50%);
}

.transition {
    transition: all .3s linear;
}
.transition-opacity {
    transition: opacity .3s linear;
}
.transition-transform {
    transition: transform .3s linear;
}


.translate-100 {
    transform: translate(100%, 100%);
}
.translate-0 {
    transform: translate(0%, 0%);
}
.translate-x-100 {
    transform: translateX(100%);
}
.translate-x-back-100 {
    transform: translateX(-100%);
}
.translate-x-0 {
    transform: translateX(0%);
}
.translate-y-100 {
    transform: translateY(100%);
}
.translate-y-0 {
    transform: translateY(0%);
}
.scale-0 {
    transform: scale(0);
}
.scale-100 {
    transform: scale(1);
}
.scale-x-0 {
    transform: scaleX(0);
}
.scale-x-100 {
    transform: scaleX(1);
}
.scale-y-0 {
    transform: scaleY(0);
}
.scale-y-100 {
    transform: scaleY(1);
}

.transform-top-left {
    transform-origin: 0% 0%;
}
.transform-bottom-right {
    transform-origin: 100% 100%;
}
