//

@tailwind base;

*::selection {
    @apply bg-pink-700 text-white;
}

@tailwind components;

.link {
    @apply text-pink-800;
    &:hover {
        @apply underline;
    }
}
.page-card {
    @apply bg-white text-gray-900 py-6 rounded-lg shadow-lg overflow-hidden;
}
.page-header {
    @apply px-6 text-2xl font-bold mb-6;
}

.form-label {
    @apply inline-block text-sm font-bold text-gray-700;
}

.btn {
    @apply inline-block px-4 py-2 leading-normal bg-gray-100 text-black border border-gray-100 font-bold rounded;
    &:hover {
        @apply bg-gray-300 border-gray-300;
    }
    &.is-lg {
        @apply text-lg py-1;
    }
    &.is-xl {
        @apply text-lg py-2 px-4;
    }
    &.is-sm {
        @apply px-2 py-1;
    }
    &.is-xs {
        @apply px-2 py-1 text-sm;
    }

    &.btn-black {
        @apply bg-gray-900 text-white border-gray-900;
        &:hover {
            @apply bg-gray-700 border-gray-700;
        }
    }
    &.btn-red {
        @apply bg-red-600 text-white border-red-600;
        &:hover {
            @apply bg-red-800 border-red-800;
        }
    }
    &.btn-blue {
        @apply bg-blue-500 text-white border-blue-500;
        &:hover {
            @apply bg-blue-700 border-blue-700;
        }
    }
    &.btn-magenta {
        @apply bg-magenta-700 text-white border-magenta-700;
        &:hover {
            @apply bg-magenta-800 border-magenta-800;
        }
    }
}


@tailwind utilities;

.top-100 {
    top: 100%;
}

.table-fit {
    width: 1%;
    @apply whitespace-no-wrap;
}

.absolute-y-center {
    top: 50%;
    transform: translateY(-50%);
}
